@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100%;
  width: 100%;
  font-family: 'Lato', sans-serif;
}

h1, h2 {
  font-family: 'Poppins', sans-serif;
}

h3, h4, h5 {
  font-family: 'Lato', sans-serif;
}